
a.skip{
  background: white;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  /* Requirement 1 code here -- Do not remove this comment. */
  position: absolute;
  left: -400px;
  top: -200px;
}


.skip a:focus {
  background: white;
  top: 0;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
}

  /* Requirement 2 code here -- Do not remove this comment. */
  nav a:focus {
    border-top: 10px solid yellow;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
  

  /* Requirement 3 code here -- Do not remove this comment. */
  .container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    row-gap: 30px;
  }

  /* Requirement 4 code here -- Do not remove this comment. */
  .intro {
    background-color: #858585;
    background-image: url("images/header.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
  }

  /* Requirement 5 code here -- Do not remove this comment. */
  .about, .clients, .method, .contact {
    grid-column: 2/ span 1;
  }

  /* Requirement 6 code here -- Do not remove this comment. */
  img{
    width: 100%;
  }
    
  /* Requirement 7 code here -- Do not remove this comment. */
  .about-image, .method-image, .clients-image, .contact-image {
    grid-column: 1 / -1;
    max-height: 500px;
    width: 100%;
    overflow: hidden;
}

  .about, .about-image {
      grid-row: 3 / span 1;
  }

  .method, .method-image {
      grid-row: 4 / span 1;
  }

  .clients, .clients-image {
      grid-row: 5 /span 1;
  }

  .contact, .contact-image {
      grid-row: 6 / span 1;
  }
  

  /* Requirement 8 code here -- Do not remove this comment. */
  .container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    row-gap: 30px;
  }
  
  .about {
    grid-row: 1 / 2;
  }
  
  .about-image {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    max-height: 500px;
  }
  
  .clients {
    grid-row: 2 / 3;
  }
  
  .clients-image {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    max-height: 500px;
  }
  
  .method {
    grid-row: 3 / 4;
  }
  
  .method-image {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    max-height: 500px;
  }
  
  .contact {
    grid-row: 4 / 5;
  }
  
  .contact-image {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    max-height: 500px;
  }
  



  /* Requirement 9 code here -- Do not remove this comment. */

  .contact .about .clients .method {
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
    position: relative;
    margin: auto;
    text-align: center;
    max-height: 40vh;
    overflow: scroll;
}

  


  /*Add the media query here.  Make sure to */

  @media all and (min-width: 700px) {

    /* Requirement 10 code here -- Do not remove this comment. */
    nav {
      background-color: #ddd;
      text-align: right !important;
      padding: 35px 0px;
      align-self: center;
  }
 
  
  /* Requirement 11 code here -- Do not remove this comment. */
    .skip a:focus{
      position: absolute;
      top:20px;
      left:0;
  }

  /* Requirement 12 code here -- Do not remove this comment. */
  .container {
    display: grid;
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 300px 300px 300px 300px;
  }


  /* Requirement 13 code here -- Do not remove this comment. */
 .about, .method, .clients-image, .contact-image{
  grid-column: 3 / span 2;
 }

  /* Requirement 14 code here -- Do not remove this comment. */
  .clients, .contact, .about-image, .method-image{
    grid-column: 2 / span 2;
  }

  /* Requirement 15 code here -- Do not remove this comment. */
  img {
    max-width: 100%;
    max-height: 100%;
  }
}


/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
   @media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /*Turn off transition*/
    a.skip {
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    /*Turn off parallax*/
    .intro{
      background-attachment: initial;
    }
  }
